html {            
  font-size: 10px;    /* 1 rem = 10px */
  line-height: 1.3;
}

@font-face {
  font-family: "MyFont";
  src: url(../css/Koenigsberg-lG20.ttf);
}

.button1 {
  width: 100%;
  height: 20%;
  background-color: rgb(221, 169, 21);
  margin-top: calc(6rem * 1.3);
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.3);
}

.button2 {
  width: 50rem;
  height: 100vh; /* full page height */
  background-color: rgb(221, 169, 21);
  position: fixed;
  top: 0;
  right: calc(10rem * 1.3); /* update this REM so the number matches the position, fixed with KANG */
  padding: 3rem 2rem;

  overflow-y: auto; /* allow scrolling */
  box-sizing: border-box;

  scrollbar-width: none;
  -ms-overflow-style: none;
  scroll-behavior:smooth;
}

.button2::-webkit-scrollbar {
  display: none;
}

.option {
  width: 90%;
  background-color: rgba(255, 255, 255, 0.2);
  color: white;
  font-family: "MyFont";
  font-size: 28px;
  text-align: center;
  margin: calc(1rem * 1.3) 0;
  padding: 2rem;
  border-radius: 2rem;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
  display: block;
  position: relative;
  z-index: 2;
  flex-shrink: 0;
}

/* Hover effect only on options */
.option:hover {
  background-color: rgba(255, 255, 255, 0.35);
  transform: scale(1.1);
  z-index: 5;
}

/* BODY AND TITLE */
body {
  background-color:rgb(113, 19, 36);
  margin: 0;
}

h1 {
  font-family: "MyFont";
  font-size: 9rem;
  color: rgb(255, 255, 255);
  position: relative;
  z-index: 1;
  margin: 2rem;
}

/* Bounce animation */
@keyframes bounceInFromTop {
  0% {
    transform: translateY(-300px);
    opacity: 0;
  }
  60% {
    transform: translateY(30px);
    opacity: 1;
  }
  80% {
    transform: translateY(-15px);
  }
  100% {
    transform: translateY(0);
  }
}

h1.bounce {
  animation: bounceInFromTop 1.0s ease;
}

a.option {
  text-decoration: none;
  cursor: pointer;
}



/* Session 6: Responsive Design and CSS @media Rules (Media Query Rules) to make text smaller and then have the option bar go below it */

@media screen and (max-width:1000px) {
  .button2 {
  width: 50rem;
  height: 100vh; /* full page height */
  background-color: rgb(221, 169, 21);
  position: relative;
  top: 0;
  right: 0;
  padding: 3rem 2rem;
  display: block;
  overflow-y: auto; /* allow scrolling */
  box-sizing: border-box;

  scrollbar-width: none;
  -ms-overflow-style: none;
  scroll-behavior:smooth;
  }
}