html {
  font-size: 10px; /* 1rem = 10px */
  line-height: 1.3;
}

@font-face {
  font-family: "MyFont";
  src: url(../../Interstellar/css/Koenigsberg-lG20.ttf);
}

/* === BODY === */
body {
  background-color: rgb(21, 67, 103);
  margin: 0;
  font-family: "MyFont", sans-serif;
  font-size: 6rem;
  line-height: 5rem;
}

h1 {
  font-size: 9rem;      /* 90px */
  color: rgb(246,223,174);
  position: relative;
  z-index: 10;
  margin: calc(1rem * 1.3);         /* 20px */
  text-align: left;
  margin-top: calc(5rem * 1.3);
}

/* === Bounce Animation === */
@keyframes bounceInFromTop {
  0% { transform: translateY(-30rem); opacity: 0; }
  60% { transform: translateY(3rem); opacity: 1; }
  80% { transform: translateY(-1.5rem); }
  100% { transform: translateY(0); }
}

h1.bounce {
  animation: bounceInFromTop 1s ease;
}

h3 {
  color: rgb(229, 199, 157);
  font-size: 3rem;
  position: relative;
  z-index: 600;
  margin: calc(1rem * 1.3);
  text-align:right;
}


h3 a {
    text-decoration: none;
    color: inherit;
    cursor: pointer;
}

h3 a:hover {
    color: rgb(253, 253, 253); /* change this to any color */
}

#typewriting-target{
  color: rgb(163, 255, 245);
   margin-top: calc(9rem * 1.3);

}

#typewriting-target-2{
  color:rgb(246,223,174);
   margin-top: calc(5rem * 1.3);
}