@font-face {
  font-family: "myfont";
  src: url("../custom_menu/BellamoraFreePersonalUseReg-ov6Wa.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}


html, body {
  margin: 0;
  padding: 0;
  font-family: "myfont", sans-serif;
  color: rgb(238, 159, 189);
  background-color: #ffffff;
}


.header-image {
  position: relative;
  width: 100%;
  height: 350px;
  background-image: url("../custommenuwebsite/teapouring.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  z-index: 0;
}


.header-image::before {
  content: "";
  position: absolute;
  inset: 0;
  background-color: rgba(80, 30, 40, 0.4);
  z-index: -1;
}

/* Header Title */
.top-banner {
  width: 100%;
  color: rgb(238, 159, 189);
  font-size: 80px;
  font-weight: bold;
  text-align: center;
  margin: 0;
  padding-top: 40px;
  z-index: 1;
}

/* Section Title */
.the-menu {
  font-size: 40px;
  color: rgb(238, 159, 189);
  text-align: center;
  margin: 70px 0 40px 0;
  font-weight: bold;
  letter-spacing: 1px;
}


.menu-row {
  display: flex;
  justify-content: space-between; 
  align-items: flex-start;
  gap: 40px;
  margin: 40px auto;
  width: 100%;
  padding: 0 60px; 
  box-sizing: border-box;
}


.image-text-row {
  flex: 1;
  display: flex;
  align-items: center;
  gap: 25px;
  max-width: 600px;
}


.side-image {
  width: 350px;
  height: 350px;
  object-fit: cover;
  border-radius: 10px;
  border: 2px solid rgb(238, 159, 189);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}


.text-beside-image {
  color: rgb(112, 28, 60);
  font-size: 25px;
  line-height: 1.6;
}

.text-beside-image h2 {
  color: rgb(238, 159, 189);
  margin-top: 0;
  margin-bottom: 10px;
}

.text-beside-image p strong {
  color: rgb(112, 28, 60);
  font-size: 20px;
  font-weight: bold;
}


.image-text-row.right {
  flex-direction: row-reverse;
  text-align: right;
}


@media (max-width: 900px) {
  .menu-row {
    flex-direction: column;
    align-items: center;
    gap: 40px;
    padding: 0 20px;
  }

  .image-text-row,
  .image-text-row.right {
    flex-direction: column;
    text-align: center;
  }

  .side-image {
    width: 90%;
    height: auto;
  }
}









