html {
  font-size: 10px; /* 1rem = 10px */
  line-height: 1.3;
}

@font-face {
  font-family: "MyFont";
  src: url(../../Interstellar/css/Koenigsberg-lG20.ttf);
}

/* === BODY === */
body {
  background-color: rgb(15, 59, 46);
  margin: 0;
  font-family: "MyFont", sans-serif;
  font-size: 6rem;
  line-height: 5rem;
  overflow: hidden; /* required for falling words */
}

h1 {
  font-size: 9rem;      
  color: rgb(196, 30, 58);
  position: relative;
  z-index: 10;
  margin: calc(1rem * 1.3);
  text-align: left;
  margin-top: calc(7rem * 1.3);
}

/* === Bounce Animation === */
@keyframes bounceInFromTop {
  0% { transform: translateY(-30rem); opacity: 0; }
  60% { transform: translateY(3rem); opacity: 1; }
  80% { transform: translateY(-1.5rem); }
  100% { transform: translateY(0); }
}

h1.bounce {
  animation: bounceInFromTop 2s ease;
}


/* === FALLING WORDS === */
.word {
  position: absolute;
  top: -10rem; /* start above the screen */
  white-space: nowrap;
  color: rgb(248, 247, 243); /* snow white */
  font-size: 4rem;
  opacity: 0;
  animation: fall linear forwards;
}

/* falling animation */
@keyframes fall {
  0% {
    transform: translateY(0);
    opacity: 1;
  }
  100% {
    transform: translateY(120vh);
    opacity: 1;
  }
}

h3 {
  position: absolute;  /* take it out of normal flow */
  top: calc(1rem * 1.3);              /* distance from top */
  right: calc(1rem * 1.3);            /* distance from right */
  z-index: 600;
  color: rgb(196, 30, 58);
  font-size: 3rem;
  margin: 0; 
}

h3 a {
    text-decoration: none;
    color: inherit;
    cursor: pointer;
}

h3 a:hover {
    color: rgb(253, 253, 253); /* change this to any color */
}

